<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Pakan Ayam</title>
    {% include 'assets.html' %}
  </head>
  <body class="font-['Switzer'] relative min-h-full bg-sky-100">
    <div class="flex flex-row justify-center items-center min-h-screen">
      <div
        class="bg-white rounded-none sm:rounded-xl p-10 shadow-xl flex flex-col gap-5 w-full sm:w-[350px] md:w-[450px]"
      >
        <h1 class="leading-7 font-bold text-3xl">Login</h1>
        <form class="flex flex-col gap-3" action="/login" method="post">
          <div class="flex flex-col gap-1">
            <label for="username" class="text-gray-500">Username</label>
            <input
              id="username"
              name="username"
              type="text"
              placeholder="jhonDoe"
              class="py-2 px-3 outline-none border rounded-md"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label for="password" class="text-gray-500">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              placeholder="********"
              class="py-2 px-3 outline-none border rounded-md"
            />
          </div>
          <button class="py-2 px-3 bg-sky-500 text-white rounded-md">
            Login
          </button>
          <p>
            Belum punya akun?
            <a href="/signup" class="text-sky-500">Daftar</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
